#set( $ContextPath = ${request.contextPath} )
<html>
	<head>
		<title>Active HOSTs View</title>
		<link type="text/css" href="${ContextPath}/resources/css/bootstrap.min.css" rel="stylesheet"/>
		<link type="text/css" href="${ContextPath}/resources/css/bootstrap-switch.min.css" rel="stylesheet"/>
		<style>
			.fixed{
				position:fixed;
				bottom:0;
				width:50px; height:50px; left:0%; top:50%; 
				background:#eee
			} 
		</style>
		
		<script type="text/javascript" src="${ContextPath}/resources/sockjs-0.3.min.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/jquery.timers.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/jquery.cookie.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/jquery.maskedinput.js"></script>
		
		<script type="text/javascript" src="${ContextPath}/resources/notify.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/binary.min.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/stomp.js"></script>
		
		<script type="text/javascript" src="${ContextPath}/resources/bootstrap.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/bootstrap-dialog.min.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/bootstrap-switch.js"></script>
		
		<script type="text/javascript" src="${ContextPath}/resources/date.js"></script>
		
		<script type="text/javascript">
			String.prototype.Trim = function(){ return this.replace(/(^\s*)|(\s*$)/g, ""); }   
			String.prototype.LTrim = function(){ return this.replace(/(^\s*)/g, ""); }   
			String.prototype.RTrim = function() { return this.replace(/(\s*$)/g, ""); }

			function checkAll(){
				$('input[type=checkbox]').each(function(){
					$(this).prop("checked", true);
				});
			}
			
			function uncheckAll(){
				$('input[type=checkbox]').each(function(){
					$(this).prop("checked", false);
				});
			}
			
			function triggerV1(){
			
				var clients = new Array();
				$("input[type='checkbox']:checked").each(function(){
					clients.push($(this).val());
				});
				
				if($('#deltaPrice').val().Trim() == ''){
					alert('设置[价格]先');return;
				}
				if($('#timePrice').val() == ''){
					alert('设置[出价时间]先');return;
				}
				if($('#timeSubmit').val() == ''){
					alert('设置[提交时间]先');return;
				}
				
				var trigger = {
					'category'  : 'V1',
					'deltaPrice': $('#deltaPrice').val(),
					'priceTime' : $('#timePrice').val(),
					'submitTime': $('#timeSubmit').val()
				};
				
				var data = {
					'clients': clients,
					'trigger': trigger
				};
				
				$.ajax({
					url  : "batch/trigger/V1",
					type : 'PUT',
					data : JSON.stringify(data),
					contentType: 'application/json; charset=utf-8',
					success: function(json) { 
						console.log("success");
					},
		            error: function(msg) {
		            }
				});
			}
			
			function updatePolicy(){
				
				var clients = new Array();
				$("input[type='checkbox']:checked").each(function(){
					clients.push($(this).val());
				});
				
				$.ajax({
					url  : "batch/updatePolicy",
					type : 'PUT',
					data : JSON.stringify(clients),
					contentType: 'application/json; charset=utf-8',
					success: function(json) { 
						console.log("success");
					},
		            error: function(msg) {
		            }
				});
			}
			
			function setParams(){
			
				var clients = new Array();
				$("input[type='checkbox']:checked").each(function(){
					clients.push($(this).val());
				});

				var data = {
					'clients': clients,
					'param'  : []
				};
				
				if($('#txtF11').val().Trim() == '' && $('#txtUpdatePolicy').val().Trim() == '' && $('#txtReload').val().Trim() == ''){
					alert("至少需要设置一个配置");return;
				}
				
				console.log($('#txtF11').val().Trim());
				console.log($('#txtUpdatePolicy').val().Trim());
				console.log($('#txtReload').val().Trim());
				if($('#txtF11').val().Trim() != '')
					data.param.push("triggerF11?" + $('#txtF11').val());
				if($('#txtUpdatePolicy').val().Trim() != '')
					data.param.push('triggerSetPolicy?' + $('#txtUpdatePolicy').val());
				if($('#txtReload').val().Trim() != '')
					data.param.push('triggerLoadResource?' + $('#txtReload').val());
				
				$.ajax({
					url  : "batch/setParam",
					type : 'PUT',
					data : JSON.stringify(data),
					contentType: 'application/json; charset=utf-8',
					success: function(json) { 
						console.log("success");
					},
		            error: function(msg) {
		            }
				});
			}
		
			function triggerReload(){
			
				var clients = new Array();
				$("input[type='checkbox']:checked").each(function(){
					clients.push($(this).val());
				});
				
				$.ajax({
					url  : "batch/trigger/reload",
					type : 'PUT',
					data : JSON.stringify(clients),
					contentType: 'application/json; charset=utf-8',
					success: function(json) { 
						console.log("success");
					},
		            error: function(msg) {
		            }
				});
			}
			
			function triggerF11(){
			
				var clients = new Array();
				$("input[type='checkbox']:checked").each(function(){
					clients.push($(this).val());
				});
				
				$.ajax({
					url  : "batch/trigger/F11",
					type : 'PUT',
					data : JSON.stringify(clients),
					contentType: 'application/json; charset=utf-8',
					success: function(json) { 
						console.log("success");
					},
		            error: function(msg) {
		            }
				});
			}
			
			function broadmessage(){
				
				var clients = new Array();
				$("input[type='checkbox']:checked").each(function(){
					clients.push($(this).val());
				});
				if($('#txtMessage').val().Trim() == ''){
					alert('输入[广播消息]先');return;
				}
				
				$.ajax({
					url  : "batch/message/" + $('#txtMessage').val(),
					type : 'PUT',
					data : JSON.stringify(clients),
					contentType: 'application/json; charset=utf-8',
					success: function(json) { console.log("success"); },
		            error: function(msg) {
		            }
				});
			}
			
			function openDlg(){

				dialog.open();
			}
			
			function toggleForm(){
				
				if($("span[data-toggle=TRIGGER-V1]").hasClass('glyphicon-plus-sign')){
					$('span[data-toggle=TRIGGER-V1]').attr("class", 'glyphicon glyphicon-minus-sign');
					$('div[data-toggle=TRIGGER-V1]').show();
				} else {
					$('span[data-toggle=TRIGGER-V1]').attr("class", 'glyphicon glyphicon-plus-sign');
					$('div[data-toggle=TRIGGER-V1]').hide();
				}
				
			}
				
			var message;
			var dialog;
			$(function(){
				
				$.mask.definitions['z']='[0-9\-]';
				
				message = $('#buttons');
				dialog = new BootstrapDialog({
					animate: false,
					title  : '<center>COMMAND</center>',
					message: message,
					onshow : function(dialogRef){
						$("#deltaPrice").mask("9999", {placeholder:"0800"});
						$("input[data-toggle=TIME]").mask("99:99:zz", {placeholder:"hh:MM:ss"});
					}
				});
				dialog.realize();
        		dialog.getModalHeader().hide();
        		dialog.getModalFooter().hide();
        		
				
				$('input[data-toggle=clientFilter]').blur(function(){
					
					var filter = $(this).val();
					$('tbody tr').show();
					$('tbody tr').each(function(){
					
						var trClient = $(this).attr('client');
						if(trClient.indexOf(filter) < 0){
							$(this).hide();
						}
					});
				});
			});
		</script>
	</head>
	<body>
		<div class="fixed" onclick="return openDlg();">
			<img width='50' src='${ContextPath}/resources/img/right.png'/>
		</div>
		
		<div class="panel panel-default" style='margin-left: 50px;margin-right: 50px;'>
			  <div class="panel-heading">
			  	<div class="row">在线客户端 : <input type="text" data-toggle="clientFilter"/></div>
			  </div>
			  <div class="panel-body">
			  	<table class="table table-striped">
			  		<thead>
			  			<td>
			  				<input type="radio" name="sel" value="select" onclick="return checkAll();"/>全选
			  				<input type="radio" name="sel" value="deselect" onclick="return uncheckAll();"/>清除
			  			</td>
			  			<td>HeartBeat</td>
			  		</thead>
					<tbody>
					#foreach(${client} in ${CLIENTS})
					<tr client="${client.user}">
						<td>
							<input type="checkbox" value="${client.user}">${client.user}
							#if(${client.isOnline})
								<img src="${ContextPath}/resources/img/online.ico"/>
							#else
								<img src="${ContextPath}/resources/img/offline.ico"/>
							#end
						</td>
						<td>$!{client.lastMessage} @ $DateTool.format('HH:mm:ss', $!{client.lastPing})</td>
					</tr>
					#end
					</tbody>
					<thead>
			  			<td>
			  				<input type="radio" name="sel" value="select" onclick="return checkAll();"/>全选
			  				<input type="radio" name="sel" value="deselect" onclick="return uncheckAll();"/>清除
			  			</td>
			  			<td></td>
			  		</thead>
				</table>
				
				<div class="form-horizontal" id="buttons">
					<fieldset>
						<legend>广播消息</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-6"><input class="form-control" id="txtMessage" placeholder="消息"/></div>
							<div class="col-sm-2">
								<button class="btn btn-primary" onclick="broadmessage();"><span class="glyphicon glyphicon-envelope"></span>广播消息</button>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>设置定时器</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label">F11</label>
							<div class="col-sm-6"><input class="form-control" id="txtF11" placeholder="11:20:00,11:28:40"/></div>
							<div class="col-sm-1">
								<button class="btn btn-sm btn-danger" onclick="return triggerF11();"><span class="glyphicon glyphicon-play"></span></button>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">更新策略</label>
							<div class="col-sm-6"><input class="form-control" id="txtUpdatePolicy" placeholder="11:25:00"/></div>
							<div class="col-sm-1">
								<button class="btn btn-sm btn-danger" onclick="return updatePolicy();"><span class="glyphicon glyphicon-play"></span></button>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">加载配置</label>
							<div class="col-sm-6"><input class="form-control" id="txtReload" placeholder="11:18:00"/></div>
							<div class="col-sm-1">
								<button class="btn btn-sm btn-danger" onclick="return triggerReload();"><span class="glyphicon glyphicon-play"></span></button>
							</div>
							<div class="col-sm-2">
								<button class="btn btn-primary" onclick="return setParams();">
									<span class="glyphicon glyphicon-download-alt"></span>设置定时
								</button>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>
							<span data-toggle="TRIGGER-V1" class="glyphicon glyphicon-minus-sign" style="cursor:pointer;" onclick="return toggleForm();"></span>DEBUG:策略V1
						</legend>
						<div class="form-group" data-toggle="TRIGGER-V1">
							<label class="col-sm-2 control-label">价格</label>
							<div class="col-sm-4"><input class="form-control" id="deltaPrice" placeholder="600"/></div>
							<label class="col-sm-2 control-label">出价时间</label>
							<div class="col-sm-4"><input class="form-control" id="timePrice" placeholder="11:29:42" data-toggle="TIME"/></div>
						</div>
						<div class="form-group" data-toggle="TRIGGER-V1">
							<label class="col-sm-2 control-label">提交时间</label>
							<div class="col-sm-4"><input class="form-control" id="timeSubmit" placeholder="11:29:48" data-toggle="TIME"/></div>
							<div class="col-sm-6" style="text-align:center">
								<button class="btn btn-primary" onclick="return triggerV1();"><span class="glyphicon glyphicon-download-alt"></span>更新策略</button>
							</div>							
						</div>
					</fieldset>
				</div>
			  </div>
			  <div class="panel-footer" style="text-align:center;"><label id="TIMER">00:00:00.000</label></div>
			</div>
		</div>
	</body>
</html>