#set( $ContextPath = ${request.contextPath} )
<html>
	<head>
		<title>校验码Demo - WebSocket/SockJS</title>
		<link type="text/css" href="${ContextPath}/resources/css/bootstrap.min.css" rel="stylesheet"/>
		<link type="text/css" href="${ContextPath}/resources/css/bootstrap-switch.min.css" rel="stylesheet"/>
		
		<script type="text/javascript" src="${ContextPath}/resources/sockjs-0.3.min.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/jquery.timers.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/jquery.cookie.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/notify.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/binary.min.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/stomp.js"></script>
		
		<script type="text/javascript" src="${ContextPath}/resources/bootstrap.js"></script>
		<script type="text/javascript" src="${ContextPath}/resources/bootstrap-switch.js"></script>
		
		<script type="text/javascript" src="${ContextPath}/resources/date.js"></script>
		
		<script type="text/javascript">
			var ws = null;
			var url = '${ContextPath}/web/websocket';
			var transports = [];
			var userName = "Browser User";
			
			var stompClient;
			var delay = 500;
			
			var queue = new Array();
			var isReady = false;
			
			function setConnected(connected) {
		    
		        document.getElementById('connect').disabled = connected;
		        document.getElementById('disconnect').disabled = !connected;
		        document.getElementById('echo').disabled = !connected;
		        $('#message').attr('disabled', !connected);
		        if(!connected)
		        	$("#status").html("<img src='${ContextPath}/resources/img/offline.ico'></img>离线！");
		        else
		        	$("#status").html("<img src='${ContextPath}/resources/img/online.ico'></img>在线！");
		    }
		    
		    function connect() {
		
				console.log("url:"+url);
				if (!url) {
					alert('Select whether to use W3C WebSocket or SockJS');
					return;
				}
				
				var operator = $.cookie('operator');
				if(typeof(operator) == "undefined")
					userName = "BID001";
				else
					userName = operator;
					
				userName = window.prompt("在此输入您的大名", userName);
				if(userName == null || userName == ""){ 
					return;
				}
				
				$.cookie('operator', userName);
				ws = (url.indexOf('sockjs') != -1) ? new SockJS(url, undefined, {protocols_whitelist: transports}) : new WebSocket(url);  
		
				ws.onopen = function () {
				
					setConnected(true);
					log('[Info] : connection opened.', 'blue');
					imReady();
				};  
				
				ws.onmessage = function (event) {

					var json = JSON.parse(event.data);
					console.log(json);

					if(json.category == 'MESSAGE'){
						log('[RECV] : ' + json.content, 'green');
						$.notify(json.content, "warn");
					}
						
					if(json.category == 'CAPTCHA'){
						
						logCaptcha('[BIZ ] : 新的验证码请求 time:' + json.time, json);
						queue.push(json);
						if(isReady){
							isReady = false;
							var captcha = queue.shift();
							renderCaptcha(captcha);
						}
						$("#QUEUE").html(queue.length);
					}
				};  
		
				ws.onclose = function (event) {
					setConnected(false);
					log('[INFO] : connection closed.', 'red');
				};  
			}  
		      
			function disconnect() {
				if (ws != null) {
					ws.close();
					ws = null;
				}
				setConnected(false);
			}
			
			function broadcast() {
		
				if (ws != null) {
					var message = {
						'content' : $('#message').val(),
						'category': 'MESSAGE'
					};
					log('[SEND] : ' + message.content);
					ws.send(JSON.stringify(message));
				} else {
					alert('connection not established, please connect.');
				}
			}
			
			function renderCaptcha(captcha){
			
				var total = parseInt($("#FINISH").html()) + 1;
		    	$("#FINISH").html(total);
				    	
				$('#uid').html(captcha.uid);
				$('#tip').attr('src', 'data:image/jpeg;base64,' + captcha.tip);
				$('#captcha').attr('src',"");
				$('#inputCaptcha').val("").focus();
				$('#captcha').oneTime(delay > 0 ? delay : 300, function(){
					$('#captcha').attr('src', 'data:image/jpeg;base64,' + captcha.captcha);
				});
			}
			
			function submitCaptcha(){
				
				var uid = $('#uid').html();
		    	var code = $('#inputCaptcha').val();
		    	if(uid != '' && code != ""){
					
					if (ws != null) {
					
						var ack = { 
							"category": "REPLY", 
							"operator": userName,
							"uid"     : uid, 
							"code"    : code };
						ws.send(JSON.stringify(ack));
						imReady();
					
					} else {
						alert('connection not established, please connect.');
					}
				}else{
					
					var ack = { 
						"category": "RETRY", 
						"operator": userName,
						"uid"     : uid };
					ws.send(JSON.stringify(ack));
					imReady();
				}
			}
			
			function setDelayMS(){
			
				delay = parseInt($("#inputDelay").val());
				$("#spanDelay").html(delay);
			}
			
			function imReady(){
			
				if (ws != null) {
				
					isReady = true;
					if(queue.length > 0){
						isReady = false;
						var captcha = queue.shift();
						renderCaptcha(captcha);
						
					} else {
					
						$("#uid").html("");
						$("#captcha").attr("src","");
						$("#tip").attr("src",""); 
						$("#inputCaptcha").val("");
						var ack = { "category":"READY", "user":userName };
						ws.send(JSON.stringify(ack));
					}
					$("#QUEUE").html(queue.length);
				} else {
					alert('connection not established, please connect.');
				}
			}
		      
		    function updateUrl(urlPath) {  
		    
		        if (urlPath.indexOf('sockjs') != -1) {
		          
		            url = urlPath;  
		            document.getElementById('sockJsTransportSelect').style.visibility = 'visible';  
		        } else {
		          
			          if (window.location.protocol == 'http:') {  
			              url = 'ws://' + window.location.host + urlPath;  
			          } else {  
			              url = 'wss://' + window.location.host + urlPath;  
			          }  
			          document.getElementById('sockJsTransportSelect').style.visibility = 'hidden';  
		        }  
		    }  
		      
		    function updateTransport(transport) {
		    	alert(transport);
		    	transports = (transport == 'all') ?  [] : [transport];  
		    }  
		      
		    function logCaptcha(message, captcha){
		    	var p = log(message);
		    	$(p).attr('guid', captcha.uid);
		    }
		    
		    function log(message, color) {
		
				var timestamp = new Date().pattern("hh:mm:ss.S");
		        var console = document.getElementById('console');
		        var p = document.createElement('p');
		        p.style.wordWrap = 'break-word';
		        p.style.margin = '0 0 0 0';
		        if(color != undefined)
		        	p.style.color = color;
		        p.appendChild(document.createTextNode(timestamp + ' ' + message));
		        console.appendChild(p);
		        while (console.childNodes.length > 25) {
		            console.removeChild(console.firstChild);
		        }
		        console.scrollTop = console.scrollHeight;
		        return p;
		    }
		    
		    $(function(){

		    	var socket = new SockJS("${ContextPath}/web/ws");
		    	stompClient = Stomp.over(socket);
		    	stompClient.connect("guest", "guest", connectCallback, errorCallback);
		    
		    	$('body').everyTime('1s','A',function(){ $('#TIMER').html(new Date().pattern("HH:mm:ss.S")); });
		    
		    	if (window.location.protocol == 'http:') {
		    		url = 'ws://' + window.location.host + url;
		    	} else {
		    		url = 'wss://' + window.location.host + url;
		    	}
		          
		    	$('#inputCaptcha').keydown(function(event) {
		
				    if((event.keyCode >= 48 && event.keyCode <= 57)
				    	|| (event.keyCode >=65 && event.keyCode <=90)
				    	|| (event.keyCode >=96 && event.keyCode <=105)
				    	|| event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 39 || event.keyCode == 37)
				    	;
				    else if (event.keyCode == 27){//ESC
				    	
				    	event.preventDefault();
				    	imReady();
				    }
				    else if (event.keyCode == 32 || event.keyCode == 13){//ENTER || SPACE
				    
				    	event.preventDefault();
				    	submitCaptcha();
				    }
				});				
		    });
		    
		    var connectCallback = function() {
		    	stompClient.subscribe('/topic/price', function(frame){
			      	var users = JSON.parse(frame.body);
			      	$('#users').html("");
			      	for(var i=0; i< users.length; i++){
			      		$('#users').append("<p style='word-wrap: break-word;margin:0 0 0 0;'>"+users[i]+"</p>");
			      	}
			      	$('#onlineUsers').html("在线用户：" + new Date().pattern("HH:mm:ss.S"));
				});
		    };
		    var errorCallback = function(error) { 
		    	alert(error); 
		    };
		</script>
	</head>
	
	<body>
		<div class="row">
			<div class="col-lg-2" style="margin-left: 10px;">
				<div style="margin-top: 10px;">
					<input id="radio1" name="group1" onclick="updateUrl('/im/web/websocket');" type="radio">W3C WebSocket<br/>
					<input id="radio2" checked="" name="group1" onclick="updateUrl('/im/web/websocket');" type="radio">SockJS<br/>

					<button id="connect" onclick="connect();" class="btn btn-primary" style="margin-top: 10px;">Connect</button>
					<button id="disconnect" disabled="" onclick="disconnect();" class="btn btn-primary" style="margin-top: 10px;">Disconnect</button><br/>
					<span id="status"><img src="${ContextPath}/resources/img/offline.ico"></img>离线！</span>
				</div>
				<div style="margin-top: 10px;">
					<textarea id="message" style="height: 100px;" disabled="">输入消息...</textarea>
				</div>
				<div style="margin-top: 10px;text-align:right;">
					<button id="echo" onclick="broadcast();" disabled="" class="btn btn-primary btn-sm">消息广播</button>
				</div>
				<div style="margin-top: 10px;">
					验证码延迟时间(<span id="spanDelay">500</span>ms):<br/>
					<input id="inputDelay" type="text" size='6' value="500" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
					<button class="btn btn-xs btn-primary" onclick="return setDelayMS();">设置</button>
				</div>
			</div>
			
			<div class="col-lg-5">
				<div class="panel panel-default">
	  				<div class="panel-heading">
	  					<div class="row">
	  						<div class="col-sm-8"><h5 class="panel-title">校验码输入</h5></div>
	  						<div class="col-sm-4" style="text-align:right;">
	  							<span id="SPANQ">QUEUE<span id='QUEUE' class="badge">0</span></span><br/>
	  							<span id="SPANF">本次完成<span id="FINISH" class="badge">0</span></span>
	  						</div>
	  					</div>
	  				</div>
	  				<div class="panel-body">
	  				
<form class="form-horizontal" role="form">
   <div class="form-group">
      <label class="col-sm-3 control-label" style="margin-top:10px;">校验码图片：</label>
      <div class="col-sm-7">
      	<span style="height:56px;width:200px;color:red;font-size:large;margin-bottom:10px;border:2px solid #000000;text-align:center;display:inline-block;">
			<img id="captcha" alt="校验码图片加载中..." height="52" width="196" src=""/>
		</span>
      </div>
      <div class="col-sm-2"></div>
   </div>
   <div class="form-group">
      <label class="col-sm-3 control-label">校验码提示：</label>
      <div class="col-sm-7">
      	<p style="color:red;font-size:large;text-align:center;width:200px;">
			<img id="tip" alt="校验码提示!" border="1"/><br/>
		</p>
      </div>
      <div class="col-sm-2"></div>
   </div>
   <div class="form-group">
      <label class="col-sm-3 control-label">输入校验码：</label>
      <div class="col-sm-7">
      	<p style="color:red;font-size:large;text-align:center;width:200px;">
			<input type="text" id="inputCaptcha" style="height:32px;width:180px;text-align:center;"/>
		</p>
      </div>
      <div class="col-sm-2"></div>
   </div>
   <div class="form-group">
      <label class="col-sm-3 control-label">GUID：</label>
      <div class="col-sm-9"><label id="uid" style="margin-top:7px;"></div>
   </div>
</form>
						<!--
						<img width="50px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNo8zjsOxCAMBFB/KEAUFFR0Cbng3nQPw68ArZdAlOZppPFIBhH5EAB8b+Tlt9MYQ6i1BuqFaq1CKSVcxZ2Acs6406KUgpt5/LCKuVgz5BDCSb13ZO99ZOdcZGvt4mJjzMVKqcha68iIePB86GAiOv8CDADlIUQBs7MD3wAAAABJRU5ErkJggg=="/>
						-->
	  				</div>
	  				<div class="panel-footer" style="text-align:center;"><label id="TIMER">00:00:00.000</label></div>
				</div>
			</div>
<!--
			<div class="col-lg-3" style="text-align:center;width:500px;height:330px;margin-left: 10px;padding-top: 10px; background: no-repeat url(${ContextPath}/resources/img/bids.bmp);">
				<p style="margin-top:8px ; margin-bottom:10px;margin-right: 50px; text-align:right;">
					<span id="SPANQ">QUEUE<span id='QUEUE' class="badge">?</span></span>
					<br/>
					<span id="SPANQ">FINISH<span id='FINISH' class="badge">0</span></span>
				</p>
				<p style="text-align:center;">
					<label style="margin-top:20px;" id="TIMER">2016-02-11 19:45:20</label>
				</p>
				<p style="text-align:center;">
					<span style="height:52px;width:200px;color:red;font-size:large;margin-bottom:10px;border:2px solid #000000;text-align:center;display:inline-block;">
						<img id="captcha" alt="验证码图片在此!" height="48" width="196" border="2"/>
					</span>
				</p>
				<p style="color:red;font-size:large;margin-bottom:10px;">
					<img id="tip" alt="正在获取验证码..." border="1"/><br/>
				</p>
				<input type="text" id="inputCaptcha" style="margin-bottom:10px;height:32px;"/>
				<br/>
				<button class="btn btn-sm btn-primary" onclick="return submitCaptcha();">空格失效？快点这里！</button>
				<br/>
				GUID:<label id="uid"></label>
			</div>
-->
			<div class="col-lg-4" style="margin-left: 10px;">
				<div id="console" style="border: 1px solid #CCCCCC; height:170px; overflow-y: scroll;"></div>
				<div class="row">
					<div class="col-lg-8" id="onlineUsers">在线用户：</div>
					<div class="col-lg-4" style="text-align:right;"><button class="btn" onclick='$("#console").html("");$("#FINISH").html("0");'>clear^</button></div>
				</div>
				<div id="users" style="border: 1px solid #CCCCCC; overflow-y: scroll; height:50px;"></div>
			</div>
		</div>
	</body>
</html>