<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="1800 seconds" debug="false">

    <property name="USER_HOME" value="logs" />
    <property scope="context" name="FILE_NAME" value="im" />
    
    <timestamp key="byDay" datePattern="yyyy-MM-dd" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${USER_HOME}/${FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
      		<fileNamePattern>${USER_HOME}/${FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>   
      		<maxHistory>180</maxHistory>
    	</rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

	<logger name="demo.chapta.controller.SecurityInterceptor">
		<level value="INFO" />
	</logger>
	<logger name="org.directwebremoting">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework">
        <level value="INFO" />
    </logger>
    <logger name="org.springframework.web.socket">
        <level value="DEBUG" />
    </logger>
    <logger name="org.hibernate">
        <level value="INFO" />
    </logger>
    <logger name="org.hibernate.SQL">
        <level value="DEBUG" />
    </logger>
    <logger name="org.hibernate.type">
        <level value="TRACE" />
    </logger>
    <logger name="org.apache">
    	<level value="INFO" />
    </logger>
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="file" />
    </root>
</configuration>